<script>
var PLUPLOAD_SETTINGS = {
  forgery_protection_token: '<%= request_forgery_protection_token %>',
  form_authenticity_token: '<%= form_authenticity_token %>',
  session_key: '<%= Rails.application.config.session_options[:key] %>',
  session_id: '<%= request.session_options[:id] %>',
  plupload_swf_url: '<%= asset_path("crud_uploader/libs/plupload/plupload.flash.swf") %>',
  plupload_silverlight_url: '<%= asset_path("crud_uploader/libs/plupload/plupload.silverlight.xap") %>'
};
</script>
