.pluploader .progress  { max-width: 200px; margin-bottom: 10px; }
.pluploader .cu-img-wrap  { float: left; }
.pluploader .cu-img-wrap  img { border: 2px solid #ddd; }
.pluploader .cu-plupload-container { margin-left: 200px; }
.pluploader .cu-plupload-container .button { display: inline-block; }
.pluploader .error { clear: both; }
.pluploader .plupload-info p { margin: 5px 0; }
.pluploader .processing { color: #666; font-size: 0.8em; }
